<div class="registration">
    <form action="/reg_numbers" method="POST">
        <div class="container">
            <h1>Reg numbers</h1>
            {{#if messages.info}}
                <div class="message">
                    <h4> {{messages.info}} </h4>
                </div>
            {{/if}}
            <div>
                <input type="text" class="regNumberEntered" name="regNumeber" placeholder="Enter a registration number" value="">
                <p>eg: CJ 123456, CA 857-624, CY 986-100</p>
                <button class="add btn blue" type="submit">Add</button>
            </div>
            <div class="filter">
                <input type="radio" name="town" class="towns" value="CY" onchange="this.form.submit()">Bellville
                <input type="radio" name="town" class="towns" value="CJ" onchange="this.form.submit()">Paarl
                <input type="radio" name="town" class="towns" value="CA" onchange="this.form.submit()">Cape Town
                <input type="radio" name="town" class="towns" value="CF" onchange="this.form.submit()">Kuilsriver
                <input type="radio" name="town" class="towns" value="all" onchange="this.form.submit()">Show all
            </div>
        </div>
    </form>
    <form action="/delete" method="post">
        <div class="buttons">
            <button class="reset btn blue" type="submit">Delete</button>
        </div>
    </form>
</div>
     {{#each registrations}}
    <div class="regNumbers" id="regNumbers">
        <span class="allRegNumbers" value="" type="span">{{reg_no}}</span>
    </div>
    {{/each}}

    